<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="cn.qhplus.emo.ui.core, cn.qhplus.emo.photo, cn.qhplus.emo.fs, cn.qhplus.emo.photo.coil" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".FunnyApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher_ada"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:targetApi="33">

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5597677676259249~6423381816" />

        <activity
            android:name=".TransActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="translation"
                    android:scheme="funny"
                    android:pathPattern="/translate"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- funny://translation/image_translate?imageUri={imageUri}&sourceId={sourceId}&targetId={targetId}" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="funny"
                    android:host="translation"
                    android:pathPattern="/image_translate"
                    />
            </intent-filter>

        </activity>
        <activity
            android:name="com.funny.translation.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ErrorDialogActivity"
            android:label="@string/crash"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".activity.CustomPhotoPickerActivity" />
        <activity
            android:name=".activity.ShareActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- 高版本 Android 要读取别人分享过来的图片怎么那么麻烦，不做了不做了 -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="image/*" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.AnnualReportActivity"
            android:exported="false">
        </activity>

        <service
            android:name=".service.OpenFloatWindowTileService"
            android:exported="true"
            android:icon="@drawable/ic_float_window"
            android:label="译站悬浮球"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.CaptureScreenService"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.StartCaptureScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Translucent"/>
    </application>

</manifest>