*.iml
*.hprof
.gradle
/local.properties
/.idea/
.DS_Store
/build
app/build
translate/build/
/captures
.externalNativeBuild
.cxx
/.git
/translate/src/main/assets/secure_data.properties
signing.properties
app/...bfg-report/
translate/...bfg-report/
log.txt
english_words.txt
google_support.txt
youdao_languages.txt
.project
.git.bfg-report/
.idea/
.settings/
高考英语3500词汇表-带音标.doc