*.iml
*.hprof
.gradle/
/local.properties
.DS_Store
build/*

/captures
.externalNativeBuild
.cxx
/.git

signing.properties
translate/src/main/assets/secure_data.properties
log.txt
english_words.txt
google_support.txt
youdao_languages.txt
.project
...bfg-report/*
.idea/*
.settings/*
高考英语3500词汇表-带音标.doc