*.iml
*.hprof
.history/
.gradle/
/local.properties
.DS_Store
build/
*/build/*

/captures
.externalNativeBuild
.cxx
.idea/
.settings
.git.bfg-report
/.git

signing.properties
translate/src/main/assets/secure_data.properties
log.txt
english_words.txt
google_support.txt
youdao_languages.txt
baidu_languages.txt
*/...bfg-report/*
高考英语3500词汇表-带音标.doc
schemas/

base-core/src/main/assets/funny_sign_v1_release.js