<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funny.trans.login">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application>
        <activity
            android:name="com.funny.trans.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.funny.trans.login.GameActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"
            android:screenOrientation="landscape"
            />
    </application>


</manifest>