<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name=".CodeEditorActivity"
            android:theme="@style/Theme.CodeActivity.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/edit_code"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="code_editor"
                    android:scheme="funny-trans" />
            </intent-filter>
        </activity>
    </application>

</manifest>