<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funny.translation.codeeditor">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name=".CodeEditorActivity"
            android:theme="@style/Theme.CodeActivity.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/edit_code"
            android:exported="true"
            >
        </activity>
    </application>

</manifest>